In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy
import pickle

from collections import defaultdict
from itertools import islice, combinations
from datetime import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [129]:
df = pd.read_csv('./data/synthetic-imports-declarations.csv', encoding = "ISO-8859-1")
# df = pd.read_csv('../../Sharedfolder_big/Nigeria_anonymized/Ndata.merged.anonymized.single_tax_relabeled.csv', encoding = "ISO-8859-1")

In [103]:
df

,sgd.id,sgd.date,importer.id,declarant.id,country,office.id,tariff.code,quantity,gross.weight,fob.value,cif.value,total.taxes,illicit,revenue,SGD.DayofYear,SGD.WeekofYear,SGD.MonthofYear
0,SGD1,13-01-02,IMP826164,DEC3207,CNTRY680,OFFICE92,8703241128,1581,26494,2390,2809,647,0,0,1,0,0
1,SGD2,13-01-02,IMP837219,DEC1525,CNTRY680,OFFICE51,8703232926,1,3910,204098,266140,3262,0,0,1,0,0
2,SGD3,13-01-02,IMP117406,DEC4146,CNTRY680,OFFICE59,8517180000,1,699231,302275,302275,5612,0,0,1,0,0
3,SGD4,13-01-02,IMP435108,DEC4242,CNTRY376,OFFICE51,8703222900,1288,22958,3019,4160,514,0,0,1,0,0
4,SGD5,13-01-02,IMP717900,DEC6324,CNTRY454,OFFICE92,8545200000,42,21248,156348,239549,397,1,980,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,SGD99996,13-12-31,IMP435297,DEC4557,CNTRY376,OFFICE40,8703222900,18533,37558,2319,2621,2731,0,0,364,52,12
99996,SGD99997,13-12-31,IMP591216,DEC1174,CNTRY759,OFFICE60,8517180000,1,1821,1746,2226,3355,0,0,364,52,12
99997,SGD99998,13-12-31,IMP398817,DEC6384,CNTRY881,OFFICE87,3911900000,2837,8679,30706,35214,2445,0,0,364,52,12
99998,SGD99999,14-12-31,IMP418859,DEC6689,CNTRY759,OFFICE51,8703231119,461,41359,2413,4480,546,0,0,729,104,24
99999,SGD100000,15-01-31,IMP456549,DEC7180,CNTRY680,OFFICE51,8702101319,5,1693,9463,10495,468,0,0,760,108,25

In [130]:
df['sgd.date'].loc[99998] = '14-12-31'
df['sgd.date'].loc[99999] = '15-01-31'

In [131]:
# @timeit
def rr(df):
    tmp2 = {}
    for date in set(df['sgd.date']):
        tmp2[date] = dt.strptime(date, '%y-%m-%d')
    tmp_day = {}
    tmp_week = {}
    tmp_month = {}
    yearStart = dt(tmp2[date].date().year, 1, 1)
    print(yearStart)
    for item in tmp2:
#         print(item)
        tmp_day[item] = (tmp2[item] - yearStart).days
        tmp_week[item] = int(tmp_day[item] / 7)
        tmp_month[item] = int(tmp_day[item] / 30)

    df.loc[:, 'SGD.DayofYear'] = df['sgd.date'].apply(lambda x: tmp_day[x])
    df.loc[:, 'SGD.WeekofYear'] = df['sgd.date'].apply(lambda x: tmp_week[x])
    df.loc[:, 'SGD.MonthofYear'] = df['sgd.date'].apply(lambda x: tmp_month[x])
    return df

In [112]:
from datetime import datetime

0       2013-01-02
1       2013-01-02
2       2013-01-02
3       2013-01-02
4       2013-01-02
           ...
99995   2013-12-31
99996   2013-12-31
99997   2013-12-31
99998   2014-12-31
99999   2015-01-31
Name: sgd.date, Length: 100000, dtype: datetime64[ns]

In [132]:
from datetime import datetime
def rr2(df):
    df['sgd.date'] = df['sgd.date'].apply(lambda x: datetime.strptime(x, '%y-%m-%d'))
    df.loc[:, 'SGD.DayofYear'] = df['sgd.date'].dt.dayofyear
    df.loc[:, 'SGD.WeekofYear'] = df['sgd.date'].dt.weekofyear
    df.loc[:, 'SGD.MonthofYear'] = df['sgd.date'].dt.month
    print(df['SGD.MonthofYear'].value_counts())
    return df

In [133]:
rr2(df)

10    10028
12     9892
11     9623
9      9564
7      8955
5      8354
8      7855
4      7842
6      7835
3      7330
1      6786
2      5936
Name: SGD.MonthofYear, dtype: int64

,sgd.id,sgd.date,importer.id,declarant.id,country,office.id,tariff.code,quantity,gross.weight,fob.value,cif.value,total.taxes,illicit,revenue,SGD.DayofYear,SGD.WeekofYear,SGD.MonthofYear
0,SGD1,2013-01-02,IMP826164,DEC3207,CNTRY680,OFFICE92,8703241128,1581,26494,2390,2809,647,0,0,2,1,1
1,SGD2,2013-01-02,IMP837219,DEC1525,CNTRY680,OFFICE51,8703232926,1,3910,204098,266140,3262,0,0,2,1,1
2,SGD3,2013-01-02,IMP117406,DEC4146,CNTRY680,OFFICE59,8517180000,1,699231,302275,302275,5612,0,0,2,1,1
3,SGD4,2013-01-02,IMP435108,DEC4242,CNTRY376,OFFICE51,8703222900,1288,22958,3019,4160,514,0,0,2,1,1
4,SGD5,2013-01-02,IMP717900,DEC6324,CNTRY454,OFFICE92,8545200000,42,21248,156348,239549,397,1,980,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,SGD99996,2013-12-31,IMP435297,DEC4557,CNTRY376,OFFICE40,8703222900,18533,37558,2319,2621,2731,0,0,365,1,12
99996,SGD99997,2013-12-31,IMP591216,DEC1174,CNTRY759,OFFICE60,8517180000,1,1821,1746,2226,3355,0,0,365,1,12
99997,SGD99998,2013-12-31,IMP398817,DEC6384,CNTRY881,OFFICE87,3911900000,2837,8679,30706,35214,2445,0,0,365,1,12
99998,SGD99999,2014-12-31,IMP418859,DEC6689,CNTRY759,OFFICE51,8703231119,461,41359,2413,4480,546,0,0,365,1,12
99999,SGD100000,2015-01-31,IMP456549,DEC7180,CNTRY680,OFFICE51,8702101319,5,1693,9463,10495,468,0,0,31,5,1

In [76]:
pd.to_datetime(df['sgd.date'])

0       2002-01-13
1       2002-01-13
2       2002-01-13
3       2002-01-13
4       2002-01-13
           ...
99995   2031-12-13
99996   2031-12-13
99997   2031-12-13
99998   2031-12-14
99999   2031-01-15
Name: sgd.date, Length: 100000, dtype: datetime64[ns]

In [62]:
df['sgd.date'].apply(lambda x: '20'+x).dt

AttributeError: Can only use .dt accessor with datetimelike values

In [55]:
pd.to_datetime(df['SGD.DATE'])

0         2013-01-02
1         2013-01-02
2         2013-01-02
3         2013-02-19
4         2013-02-19
             ...
1932490   2017-10-27
1932491   2017-10-27
1932492   2017-10-27
1932493   2017-10-27
1932494   2017-10-27
Name: SGD.DATE, Length: 1932495, dtype: datetime64[ns]

In [77]:
df = rr(df)

,sgd.id,sgd.date,importer.id,declarant.id,country,office.id,tariff.code,quantity,gross.weight,fob.value,cif.value,total.taxes,illicit,revenue,SGD.DayofYear,SGD.WeekofYear,SGD.MonthofYear
0,SGD1,13-01-02,IMP826164,DEC3207,CNTRY680,OFFICE92,8703241128,1581,26494,2390,2809,647,0,0,1,0,0
1,SGD2,13-01-02,IMP837219,DEC1525,CNTRY680,OFFICE51,8703232926,1,3910,204098,266140,3262,0,0,1,0,0
2,SGD3,13-01-02,IMP117406,DEC4146,CNTRY680,OFFICE59,8517180000,1,699231,302275,302275,5612,0,0,1,0,0
3,SGD4,13-01-02,IMP435108,DEC4242,CNTRY376,OFFICE51,8703222900,1288,22958,3019,4160,514,0,0,1,0,0
4,SGD5,13-01-02,IMP717900,DEC6324,CNTRY454,OFFICE92,8545200000,42,21248,156348,239549,397,1,980,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,SGD99996,13-12-31,IMP435297,DEC4557,CNTRY376,OFFICE40,8703222900,18533,37558,2319,2621,2731,0,0,364,52,12
99996,SGD99997,13-12-31,IMP591216,DEC1174,CNTRY759,OFFICE60,8517180000,1,1821,1746,2226,3355,0,0,364,52,12
99997,SGD99998,13-12-31,IMP398817,DEC6384,CNTRY881,OFFICE87,3911900000,2837,8679,30706,35214,2445,0,0,364,52,12
99998,SGD99999,14-12-31,IMP418859,DEC6689,CNTRY759,OFFICE51,8703231119,461,41359,2413,4480,546,0,0,729,104,24
99999,SGD100000,15-01-31,IMP456549,DEC7180,CNTRY680,OFFICE51,8702101319,5,1693,9463,10495,468,0,0,760,108,25