In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ntree-ndepth.csv')

In [3]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [4]:
df.head(5)

,starting_date,f1,auc,pr1,pr2,pr5,pr10,re1,re2,re5,re10,rev1,rev2,rev5,rev10,model,epoch,dim,lr,l2,beta,heads,fusion,activation,ntree,ndepth
0,13-01-01,0.200362,0.725739,0.324774,0.202568,0.105556,0.064462,0.144932,0.180762,0.235474,0.287605,0.243606,0.304403,0.361951,0.442793,DATE_13-01-01_25_2,5,16,0.005,0.01,0.0,4,concat,relu,25,2
1,13-01-01,0.570347,0.894151,0.913562,0.563676,0.256715,0.142816,0.407682,0.502905,0.572305,0.637185,0.374841,0.508252,0.615096,0.679045,DATE_13-01-01_25_6,5,16,0.005,0.01,0.0,4,concat,relu,25,6
2,13-01-01,0.582827,0.878212,0.932007,0.539631,0.241948,0.136112,0.415913,0.481278,0.539542,0.607166,0.353921,0.456848,0.571749,0.653211,DATE_13-01-01_25_5,5,16,0.005,0.01,0.0,4,concat,relu,25,5
3,13-01-01,0.194954,0.732588,0.338816,0.208469,0.106070,0.063450,0.149613,0.185926,0.236604,0.283086,0.217753,0.289898,0.352255,0.431730,DATE_13-01-01_25_2,5,16,0.005,0.01,0.0,4,concat,relu,25,2
4,13-01-01,0.465237,0.855401,0.742134,0.458853,0.214239,0.123359,0.331181,0.409458,0.477889,0.550355,0.272921,0.358577,0.459030,0.569235,DATE_13-01-01_25_3,5,16,0.005,0.01,0.0,4,concat,relu,25,3

In [5]:
df.groupby(['ntree', 'ndepth'])['re1'].apply(len)

ntree  ndepth
25     2         10
       3         10
       4         10
       5         10
       6         10
50     2         10
       3         10
       4         10
       5         10
       6         10
100    2         10
       3         10
       4         10
       5         10
       6         10
200    2         10
       3         10
       4         10
       5         10
       6         10
400    2         10
       3         10
       4         10
       5         10
       6         10
Name: re1, dtype: int64

In [7]:
df.groupby(['ntree', 'ndepth'])['f1','auc','pr1','pr2','pr5','pr10','re1','re2','re5','re10','rev1','rev2','rev5','rev10'].apply(lambda x: round(100 * np.mean(x), 2))

                 f1    auc    pr1    pr2    pr5   pr10    re1    re2    re5  \
ntree ndepth
25    2       19.76  72.94  32.48  20.10  10.51   6.46  14.46  17.93  23.44
      3       45.52  85.11  73.67  44.08  21.20  12.19  32.84  39.32  47.23
      4       53.13  86.34  86.24  49.60  22.72  12.71  38.45  44.20  50.66
      5       58.01  87.87  93.40  54.38  24.23  13.52  41.67  48.49  54.04
      6       58.09  89.36  92.31  56.59  25.62  14.39  41.16  50.49  57.15
50    2       53.97  87.50  87.79  51.22  23.84  13.32  39.12  45.65  53.14
      3       59.37  89.24  91.22  57.50  25.72  14.46  40.67  51.28  57.37
      4       63.68  92.27  90.51  66.71  30.38  16.45  40.25  59.45  67.76
      5       62.14  92.63  92.77  64.18  30.03  16.74  41.39  57.21  66.99
      6       64.08  93.95  92.97  67.45  32.18  17.71  41.46  60.16  71.72
100   2       74.58  95.72  92.62  79.03  36.35  19.28  41.14  70.39  81.03
      3       75.84  96.65  93.03  81.61  38.41  20.13  41.52  72.82  85.68
      4       75.53  96.80  93.13  80.79  38.67  20.22  41.49  72.09  86.26
      5       72.56  96.80  92.51  80.14  38.31  20.24  41.28  71.50  85.46
      6       72.85  96.35  95.71  78.29  37.75  19.96  42.70  69.86  84.20
200   2       78.04  96.72  92.54  83.23  38.55  20.15  41.29  74.27  85.99
      3       76.43  96.67  92.05  81.76  38.50  20.25  41.07  72.95  85.89
      4       73.62  96.09  93.62  79.31  37.74  19.89  41.78  70.73  84.20
      5       72.79  96.50  95.48  80.44  37.76  19.94  42.61  71.78  84.24
      6       71.03  96.26  96.59  79.46  37.20  19.72  43.10  70.90  82.98
400   2       76.55  96.76  93.69  82.14  38.72  20.25  41.79  73.26  86.38
      3       74.51  96.22  94.46  79.92  37.53  19.83  42.15  71.32  83.72
      4       73.58  96.41  94.77  79.34  37.64  19.97  42.29  70.79  83.96
      5       74.18  96.89  96.95  80.37  38.22  20.24  43.27  71.71  85.24
      6       72.16  96.80  96.33  81.96  38.20  20.18  42.98  73.13  85.21

               re10   rev1   rev2   rev5  rev10
ntree ndepth
25    2       28.81  22.85  28.51  36.17  44.50
      3       54.35  27.83  35.64  44.93  55.17
      4       56.70  31.25  40.65  50.48  60.90
      5       60.29  35.03  45.91  56.95  66.36
      6       64.18  38.03  51.45  61.38  70.69
50    2       59.40  35.00  47.17  58.02  67.43
      3       64.43  38.81  53.07  61.76  71.56
      4       73.40  42.71  61.25  74.07  80.58
      5       74.64  39.70  58.20  72.51  81.44
      6       79.03  41.04  60.51  76.04  83.75
100   2       86.00  44.57  66.46  81.05  87.08
      3       89.80  47.03  68.64  83.55  88.77
      4       90.20  44.84  66.31  83.45  89.30
      5       90.28  44.55  67.93  81.73  88.32
      6       89.04  38.87  64.78  79.51  86.35
200   2       89.87  46.23  68.12  84.08  89.54
      3       90.33  47.10  68.20  82.13  88.92
      4       88.74  40.65  63.89  78.19  84.15
      5       88.96  40.27  66.37  79.64  85.92
      6       87.97  37.61  62.56  76.94  84.66
400   2       90.35  45.04  69.11  84.32  89.50
      3       88.46  43.90  66.28  79.15  85.79
      4       89.11  38.25  63.03  77.75  84.58
      5       90.29  35.87  63.26  79.41  86.29
      6       90.05  37.63  64.71  79.63  88.02

In [8]:
g = df.groupby(['ntree', 'ndepth'])['f1'].apply(lambda x: np.mean(x))

for idx in g.index:
    print(idx, g[idx])

(25, 2) 0.19757532871092037
(25, 3) 0.4552498354215702
(25, 4) 0.531313487517973
(25, 5) 0.5801064842033318
(25, 6) 0.5808714781089862
(50, 2) 0.5397219219151708
(50, 3) 0.5936663816595255
(50, 4) 0.6367637502230045
(50, 5) 0.621402094144279
(50, 6) 0.6408299897594248
(100, 2) 0.7457872068074247
(100, 3) 0.7584096328102368
(100, 4) 0.7552545893805468
(100, 5) 0.725598391465496
(100, 6) 0.7284513172359747
(200, 2) 0.78035007396168
(200, 3) 0.7643210923158431
(200, 4) 0.7362438994405964
(200, 5) 0.7278675528325361
(200, 6) 0.7103290281703754
(400, 2) 0.7654643861103908
(400, 3) 0.7451165359687553
(400, 4) 0.735768588050977
(400, 5) 0.74181898462836
(400, 6) 0.7215821581650553

In [9]:
def draw_without_stdev(measure, indices, pos):
    g = df.groupby(['ntree', 'ndepth'])[measure].apply(lambda x: np.mean(x))
    for idx in indices:
        print(f'({idx[pos]}, {round(g[idx]*100, 2)})')
              
def draw_with_stdev(measure, indices, pos):
    g = df.groupby(['ntree', 'ndepth'])[measure].apply(lambda x: (np.mean(x), np.std(x)))
    for idx in indices:
        print(f'({idx[pos]}, {round(g[idx][0]*100, 2)}) +- ({round(g.loc[idx][pos]*100, 2)}, {round(g.loc[idx][pos]*100, 2)})')

Changing number of trees

In [10]:
# Precision
draw_with_stdev('pr1', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr2', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr5', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr10', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0)

(25, 86.24) +- (86.24, 86.24)
(50, 90.51) +- (90.51, 90.51)
(100, 93.13) +- (93.13, 93.13)
(200, 93.62) +- (93.62, 93.62)
(400, 94.77) +- (94.77, 94.77)
(25, 49.6) +- (49.6, 49.6)
(50, 66.71) +- (66.71, 66.71)
(100, 80.79) +- (80.79, 80.79)
(200, 79.31) +- (79.31, 79.31)
(400, 79.34) +- (79.34, 79.34)
(25, 22.72) +- (22.72, 22.72)
(50, 30.38) +- (30.38, 30.38)
(100, 38.67) +- (38.67, 38.67)
(200, 37.74) +- (37.74, 37.74)
(400, 37.64) +- (37.64, 37.64)
(25, 12.71) +- (12.71, 12.71)
(50, 16.45) +- (16.45, 16.45)
(100, 20.22) +- (20.22, 20.22)
(200, 19.89) +- (19.89, 19.89)
(400, 19.97) +- (19.97, 19.97)

In [11]:
# Revenue
draw_with_stdev('pr1', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr2', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr5', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr10', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0)

(25, 86.24) +- (86.24, 86.24)
(50, 90.51) +- (90.51, 90.51)
(100, 93.13) +- (93.13, 93.13)
(200, 93.62) +- (93.62, 93.62)
(400, 94.77) +- (94.77, 94.77)
(25, 49.6) +- (49.6, 49.6)
(50, 66.71) +- (66.71, 66.71)
(100, 80.79) +- (80.79, 80.79)
(200, 79.31) +- (79.31, 79.31)
(400, 79.34) +- (79.34, 79.34)
(25, 22.72) +- (22.72, 22.72)
(50, 30.38) +- (30.38, 30.38)
(100, 38.67) +- (38.67, 38.67)
(200, 37.74) +- (37.74, 37.74)
(400, 37.64) +- (37.64, 37.64)
(25, 12.71) +- (12.71, 12.71)
(50, 16.45) +- (16.45, 16.45)
(100, 20.22) +- (20.22, 20.22)
(200, 19.89) +- (19.89, 19.89)
(400, 19.97) +- (19.97, 19.97)

Changing tree depth

In [12]:
# Precision
draw_with_stdev('pr1', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('pr2', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('pr5', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('pr10', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1)

(2, 92.62) +- (2.76, 2.76)
(3, 93.03) +- (2.1, 2.1)
(4, 93.13) +- (2.03, 2.03)
(5, 92.51) +- (3.86, 3.86)
(6, 95.71) +- (1.67, 1.67)
(2, 79.03) +- (0.74, 0.74)
(3, 81.61) +- (1.36, 1.36)
(4, 80.79) +- (1.88, 1.88)
(5, 80.14) +- (1.39, 1.39)
(6, 78.29) +- (1.97, 1.97)
(2, 36.35) +- (0.4, 0.4)
(3, 38.41) +- (0.26, 0.26)
(4, 38.67) +- (0.24, 0.24)
(5, 38.31) +- (0.41, 0.41)
(6, 37.75) +- (0.45, 0.45)
(2, 19.28) +- (0.18, 0.18)
(3, 20.13) +- (0.11, 0.11)
(4, 20.22) +- (0.11, 0.11)
(5, 20.24) +- (0.14, 0.14)
(6, 19.96) +- (0.15, 0.15)

In [13]:
# Revenue
draw_with_stdev('rev1', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('rev2', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('rev5', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('rev10', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1)

(2, 44.57) +- (1.92, 1.92)
(3, 47.03) +- (2.04, 2.04)
(4, 44.84) +- (2.63, 2.63)
(5, 44.55) +- (2.29, 2.29)
(6, 38.87) +- (2.85, 2.85)
(2, 66.46) +- (0.94, 0.94)
(3, 68.64) +- (0.89, 0.89)
(4, 66.31) +- (1.41, 1.41)
(5, 67.93) +- (1.26, 1.26)
(6, 64.78) +- (1.67, 1.67)
(2, 81.05) +- (1.24, 1.24)
(3, 83.55) +- (1.22, 1.22)
(4, 83.45) +- (0.8, 0.8)
(5, 81.73) +- (1.85, 1.85)
(6, 79.51) +- (1.27, 1.27)
(2, 87.08) +- (1.17, 1.17)
(3, 88.77) +- (1.06, 1.06)
(4, 89.3) +- (0.92, 0.92)
(5, 88.32) +- (0.74, 0.74)
(6, 86.35) +- (1.51, 1.51)