In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ntree-ndepth.csv')

In [3]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [4]:
df.head(5)

,starting_date,f1,auc,pr1,pr2,pr5,pr10,re1,re2,re5,re10,rev1,rev2,rev5,rev10,model,epoch,dim,lr,l2,beta,heads,fusion,activation,ntree,ndepth
0,13-01-01,0.198574,0.727315,0.318741,0.196600,0.104010,0.061460,0.142189,0.175436,0.231924,0.274209,0.236127,0.272309,0.347861,0.418828,DATE_13-01-01_25_2,5,16,0.005,0.05,0.0,4,concat,relu,25,2
1,13-01-01,0.198595,0.723498,0.320420,0.198110,0.101505,0.063145,0.142834,0.175920,0.226436,0.281633,0.209913,0.269973,0.347781,0.422776,DATE_13-01-01_25_2,5,16,0.005,0.05,0.0,4,concat,relu,25,2
2,13-01-01,0.193674,0.726280,0.329702,0.199891,0.106109,0.063470,0.146546,0.178341,0.236604,0.283086,0.243629,0.267532,0.368366,0.427850,DATE_13-01-01_25_2,5,16,0.005,0.05,0.0,4,concat,relu,25,2
3,13-01-01,0.204022,0.735066,0.330917,0.202568,0.103648,0.064252,0.147353,0.180762,0.231117,0.286637,0.235686,0.288452,0.348837,0.449349,DATE_13-01-01_25_2,5,16,0.005,0.05,0.0,4,concat,relu,25,2
4,13-01-01,0.198471,0.720831,0.314647,0.200616,0.104037,0.062798,0.140413,0.178664,0.232085,0.280181,0.225625,0.268647,0.349116,0.426863,DATE_13-01-01_25_2,5,16,0.005,0.05,0.0,4,concat,relu,25,2

In [5]:
df.l2.value_counts()

0.05    250
0.01    158
Name: l2, dtype: int64

In [6]:
df = df[df.l2 == 0.05]

In [7]:
df.groupby(['ntree', 'ndepth'])['f1'].apply(len)

ntree  ndepth
25     2         10
       3         10
       4         10
       5         10
       6         10
50     2         10
       3         10
       4         10
       5         10
       6         10
100    2         10
       3         10
       4         10
       5         10
       6         10
200    2         10
       3         10
       4         10
       5         10
       6         10
400    2         10
       3         10
       4         10
       5         10
       6         10
Name: f1, dtype: int64

In [8]:
df.groupby(['ntree', 'ndepth'])['f1','auc','pr1','pr2','pr5','pr10','re1','re2','re5','re10','rev1','rev2','rev5','rev10'].apply(lambda x: round(100 * np.mean(x), 2))

                 f1    auc    pr1    pr2    pr5   pr10    re1    re2    re5  \
ntree ndepth
25    2       19.76  72.49  32.01  19.73  10.36   6.33  14.25  17.59  23.11
      3       42.44  84.15  69.69  42.53  20.74  12.06  31.07  37.91  46.22
      4       51.84  85.61  83.90  47.95  22.06  12.40  37.43  42.76  49.19
      5       56.83  86.32  91.37  52.21  22.96  12.70  40.77  46.56  51.19
      6       54.26  87.93  87.67  52.28  24.07  13.47  39.10  46.63  53.70
50    2       52.43  86.68  85.03  49.81  23.12  12.84  37.94  44.43  51.56
      3       56.27  87.14  91.34  53.47  23.90  13.24  40.73  47.67  53.29
      4       46.69  90.35  88.54  56.07  26.07  15.14  39.50  50.00  58.15
      5       43.20  90.34  77.56  50.83  24.44  14.86  34.60  45.35  54.51
      6       54.93  92.43  91.89  60.58  29.10  16.50  41.00  54.04  64.90
100   2       71.95  94.99  97.70  75.93  34.27  18.65  43.60  67.74  76.42
      3       58.49  95.18  93.31  71.13  34.52  18.92  41.63  63.46  76.99
      4       56.00  95.58  93.17  67.68  34.40  19.07  41.58  60.39  76.75
      5       62.67  95.66  92.33  72.89  35.28  19.27  41.20  65.03  78.69
      6       67.16  95.67  93.34  74.23  35.35  19.29  41.65  66.24  78.85
200   2       72.37  95.82  96.51  79.15  36.36  19.50  43.07  70.62  81.12
      3       54.18  95.09  92.60  69.55  34.45  18.99  41.32  62.06  76.84
      4       59.29  95.21  90.68  71.88  35.16  19.08  40.46  64.13  78.42
      5       69.00  95.89  95.55  76.34  36.03  19.40  42.64  68.12  80.36
      6       67.07  95.85  92.72  74.44  35.81  19.36  41.38  66.43  79.90
400   2       60.15  95.34  91.49  70.61  35.15  19.29  40.83  63.01  78.42
      3       56.53  95.11  94.63  71.57  34.77  18.91  42.23  63.86  77.56
      4       63.15  95.57  91.64  72.44  35.38  19.22  40.90  64.64  78.92
      5       66.67  96.18  94.46  73.73  36.15  19.64  42.15  65.78  80.64
      6       56.73  95.67  90.14  70.75  35.04  19.27  40.23  63.14  78.17

               re10   rev1   rev2   rev5  rev10
ntree ndepth
25    2       28.23  22.19  26.87  35.39  43.21
      3       53.79  27.19  34.58  43.95  55.08
      4       55.31  30.35  38.46  48.30  58.34
      5       56.66  34.49  43.30  50.59  60.56
      6       60.06  34.93  45.91  54.86  64.21
50    2       57.26  32.21  45.12  54.78  63.37
      3       59.03  34.98  46.40  55.10  63.88
      4       67.55  34.48  45.61  56.18  72.45
      5       66.29  32.70  41.60  54.30  71.55
      6       73.60  36.90  52.35  67.88  78.91
100   2       83.20  36.43  61.16  74.17  83.14
      3       84.39  39.01  56.88  70.31  79.80
      4       85.07  36.83  53.99  69.89  81.72
      5       85.97  37.82  58.27  72.94  82.30
      6       86.07  34.20  56.08  71.96  82.16
200   2       86.98  37.23  60.52  75.59  83.87
      3       84.72  37.87  55.52  70.33  79.55
      4       85.12  39.25  58.24  72.59  80.18
      5       86.55  32.38  58.18  73.33  81.99
      6       86.37  35.97  57.20  72.99  83.17
400   2       86.07  35.19  55.13  71.89  81.99
      3       84.35  37.42  57.47  71.39  78.86
      4       85.74  35.72  56.73  72.09  80.76
      5       87.61  36.27  57.33  74.91  83.78
      6       85.97  33.93  54.61  72.72  83.37

In [9]:
g = df.groupby(['ntree', 'ndepth'])['f1'].apply(lambda x: np.mean(x))

for idx in g.index:
    print(idx, g[idx])

(25, 2) 0.19762178840310446
(25, 3) 0.42437583259929595
(25, 4) 0.518368500784641
(25, 5) 0.5683147645494315
(25, 6) 0.5425829868573577
(50, 2) 0.5243087053726241
(50, 3) 0.5626861271914236
(50, 4) 0.4668851163439234
(50, 5) 0.43204262046793857
(50, 6) 0.5493385110924248
(100, 2) 0.7195411327346457
(100, 3) 0.5849457622508112
(100, 4) 0.5599639245706545
(100, 5) 0.6267084980020339
(100, 6) 0.6716041385385925
(200, 2) 0.723681488510733
(200, 3) 0.5417562444806028
(200, 4) 0.5929412840002921
(200, 5) 0.6899866813218798
(200, 6) 0.6706823375120884
(400, 2) 0.6014599054787707
(400, 3) 0.5652821154104704
(400, 4) 0.6314556638045042
(400, 5) 0.6667473657994512
(400, 6) 0.5673356321856265

In [49]:
def draw_without_stdev(measure, indices, pos):
    g = df.groupby(['ntree', 'ndepth'])[measure].apply(lambda x: np.mean(x))
    for idx in indices:
        print(f'({idx[pos]}, {round(g[idx]*100, 2)})')
              
def draw_with_stdev(measure, indices, pos):
    g = df.groupby(['ntree', 'ndepth'])[measure].apply(lambda x: (np.mean(x), np.std(x)))
    for idx in indices:
        print(f'({idx[pos]}, {round(g[idx][0]*100, 2)}) +- ({round(g.loc[idx][pos]*100, 2)}, {round(g.loc[idx][pos]*100, 2)})')

Changing number of trees

In [50]:
# Precision
draw_with_stdev('pr1', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr2', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr5', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr10', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0)

(25, 83.9) +- (83.9, 83.9)
(50, 88.54) +- (88.54, 88.54)
(100, 93.17) +- (93.17, 93.17)
(200, 90.68) +- (90.68, 90.68)
(400, 91.64) +- (91.64, 91.64)
(25, 47.95) +- (47.95, 47.95)
(50, 56.07) +- (56.07, 56.07)
(100, 67.68) +- (67.68, 67.68)
(200, 71.88) +- (71.88, 71.88)
(400, 72.44) +- (72.44, 72.44)
(25, 22.06) +- (22.06, 22.06)
(50, 26.07) +- (26.07, 26.07)
(100, 34.4) +- (34.4, 34.4)
(200, 35.16) +- (35.16, 35.16)
(400, 35.38) +- (35.38, 35.38)
(25, 12.4) +- (12.4, 12.4)
(50, 15.14) +- (15.14, 15.14)
(100, 19.07) +- (19.07, 19.07)
(200, 19.08) +- (19.08, 19.08)
(400, 19.22) +- (19.22, 19.22)

In [51]:
# Revenue
draw_with_stdev('pr1', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr2', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr5', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0) 
draw_with_stdev('pr10', [(25, 4), (50, 4), (100, 4), (200, 4), (400, 4)], 0)

(25, 83.9) +- (83.9, 83.9)
(50, 88.54) +- (88.54, 88.54)
(100, 93.17) +- (93.17, 93.17)
(200, 90.68) +- (90.68, 90.68)
(400, 91.64) +- (91.64, 91.64)
(25, 47.95) +- (47.95, 47.95)
(50, 56.07) +- (56.07, 56.07)
(100, 67.68) +- (67.68, 67.68)
(200, 71.88) +- (71.88, 71.88)
(400, 72.44) +- (72.44, 72.44)
(25, 22.06) +- (22.06, 22.06)
(50, 26.07) +- (26.07, 26.07)
(100, 34.4) +- (34.4, 34.4)
(200, 35.16) +- (35.16, 35.16)
(400, 35.38) +- (35.38, 35.38)
(25, 12.4) +- (12.4, 12.4)
(50, 15.14) +- (15.14, 15.14)
(100, 19.07) +- (19.07, 19.07)
(200, 19.08) +- (19.08, 19.08)
(400, 19.22) +- (19.22, 19.22)

Changing tree depth

In [46]:
# Precision
draw_with_stdev('pr1', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('pr2', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('pr5', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('pr10', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1)

(2, 97.7) +- (1.19, 1.19)
(3, 93.31) +- (3.71, 3.71)
(4, 93.17) +- (3.08, 3.08)
(5, 92.33) +- (2.96, 2.96)
(6, 93.34) +- (1.03, 1.03)
(2, 75.93) +- (1.42, 1.42)
(3, 71.13) +- (5.66, 5.66)
(4, 67.68) +- (2.86, 2.86)
(5, 72.89) +- (2.6, 2.6)
(6, 74.23) +- (2.37, 2.37)
(2, 34.27) +- (0.39, 0.39)
(3, 34.52) +- (1.27, 1.27)
(4, 34.4) +- (0.38, 0.38)
(5, 35.28) +- (0.56, 0.56)
(6, 35.35) +- (0.42, 0.42)
(2, 18.65) +- (0.22, 0.22)
(3, 18.92) +- (0.44, 0.44)
(4, 19.07) +- (0.16, 0.16)
(5, 19.27) +- (0.22, 0.22)
(6, 19.29) +- (0.16, 0.16)

In [48]:
# Revenue
draw_with_stdev('rev1', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('rev2', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('rev5', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1) 
draw_with_stdev('rev10', [(100, 2), (100, 3), (100, 4), (100, 5), (100, 6)], 1)

(2, 36.43) +- (4.49, 4.49)
(3, 39.01) +- (2.54, 2.54)
(4, 36.83) +- (2.37, 2.37)
(5, 37.82) +- (4.32, 4.32)
(6, 34.2) +- (2.87, 2.87)
(2, 61.16) +- (2.02, 2.02)
(3, 56.88) +- (3.33, 3.33)
(4, 53.99) +- (3.61, 3.61)
(5, 58.27) +- (3.73, 3.73)
(6, 56.08) +- (3.46, 3.46)
(2, 74.17) +- (1.47, 1.47)
(3, 70.31) +- (3.34, 3.34)
(4, 69.89) +- (2.59, 2.59)
(5, 72.94) +- (2.4, 2.4)
(6, 71.96) +- (2.45, 2.45)
(2, 83.14) +- (1.7, 1.7)
(3, 79.8) +- (3.3, 3.3)
(4, 81.72) +- (2.35, 2.35)
(5, 82.3) +- (1.39, 1.39)
(6, 82.16) +- (1.9, 1.9)

For latex pgfplot

In [ ]:
date =  sorted(list(set(df.starting_date)))[::-1]

yr = (np.arange(15)+1)*0.25
yr = np.append(yr, 3.91666667)

d = dict(zip(date, yr))
d

In [ ]:
def draw_without_stdev(measure):
    g = df.groupby(['starting_date'])[measure].apply(lambda x: (np.mean(x), np.std(x))).sort_index(ascending=False)
    for idx in g.index:
        print(f'({d[idx]}, {round(g.loc[idx][0]*100, 2)})')
              
def draw_with_stdev(measure):
    g = df.groupby(['starting_date'])[measure].apply(lambda x: (np.mean(x), np.std(x))).sort_index(ascending=False)
    for idx in g.index:
        print(f'({d[idx]}, {round(g.loc[idx][0]*100, 2)}) +- ({round(g.loc[idx][1]*100, 2)}, {round(g.loc[idx][1]*100, 2)})')

In [ ]:
draw_without_stdev('pr1')

In [ ]:
draw_without_stdev('pr2')

In [ ]:
draw_without_stdev('pr5')

In [ ]:
draw_without_stdev('pr10')

In [ ]:
draw_without_stdev('rev1')

In [ ]:
draw_without_stdev('rev2')

In [ ]:
draw_without_stdev('rev5')

In [ ]:
draw_without_stdev('rev10')

For communication

In [ ]:
df.groupby(['starting_date'])['pr1','pr2','pr5','pr10','re1','re2','re5','re10','rev1','rev2','rev5','rev10'].apply(np.std)